<!DOCTYPE html>
<html lang="de">
 	<head>
    	<meta charset="utf-8">
    	<title>{{ app_name }}</title>
    	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
		<h1>Mental health survey</h1>

	<form  method="POST">
		<label for="first_question">Wie fühlen sie sich von 1-10: 1 </label>
		<input type="radio" id="first_question" name="frage1" value="1">

		<label for="first_question">2</label>
		<input type="radio" id="first_question" name="frage1" value="2">

		<label for="first_question">3</label>
		<input type="radio" id="first_question" name="frage1" value="3">

		<label for="first_question">4</label>
		<input type="radio" id="first_question" name="frage1" value="4">

		<label for="first_question">5</label>
		<input type="radio" id="first_question" name="frage1" value="5">

		<label for="first_question">6</label>
		<input type="radio" id="first_question" name="frage1" value="6">

		<label for="first_question">7</label>
		<input type="radio" id="first_question" name="frage1" value="7">

		<label for="first_question">8</label>
		<input type="radio" id="first_question" name="frage1" value="8">

		<label for="first_question">9</label>
		<input type="radio" id="first_question" name="frage1" value="9">

		<label for="first_question">10</label>
		<input type="radio" id="first_question" name="frage1" value="10">

		<br>
		<label for="second_question">Sind sie glücklick von 1-10:</label>
		<input type="radio" id="second_question" value="">
		<br>
		<input type="submit" value="Umfrage abschliessen">
	</form>
	</body>
</html>
