<!-- Mit dem include wird hier mein header hinzugefügt -->
{% include "header.html" %}
  <body>

  <!-- Mit dem include wird hier meine Navbar hinzugefügt -->
{% include "navbar.html" %}

   <br /><br />

    <section class="py-5">
            <div class="container text-center">
                <h2 class="mb-4">{{ ueberschrift }}</h2>
                <p class="lead mb-5">{{ einleitung }}</p>
                {% for eintrag in daten %} <!-- im main.py zum rendern definiert -->
                    {{ eintrag[0] }} für {{ eintrag[1] }} Minuten und {{ eintrag[3] }} Wiederholungen
                    dieses Workout gehöhrt zur Muskelgruppe {{ eintrag[2] }} im 1. Satz hast du {{ eintrag[3] }}
                    Wiederholungen gemacht und im 2. Satz deutlich weniger nämlich {{ eintrag[4] }}<br />
                {% endfor %}
            </div>
    </section>
    <!-- Mit dem include werden hier meine Bootsrap footer Links hinzugefügt -->
{% include "footer.html" %}
  </body>