<!-- Mit dem include wird hier mein header hinzugefügt -->
{% include "header.html" %}
  <body>

  <!-- Mit dem include wird hier meine Navbar hinzugefügt -->
{% include "navbar.html" %}

   <br /><br />

    <section class="py-5">
            <div class="container text-center">
                <h2 class="mb-4">{{ ueberschrift }}</h2>
                <p class="lead mb-5">{{ einleitung }}</p>

                    <table class="table table-hover table-dark">
                      <thead>
                        <tr>
                          <th scope="col">Übung</th>
                          <th scope="col">Dauer (Minuten)</th>
                          <th scope="col">Muskelgruppe</th>
                          <th scope="col">Gewicht (kg)</th>
                          <th scope="col">Satz 1 (Wiederholungen)</th>
                          <th scope="col">Satz 2 (Wiederholungen)</th>
                          <th scope="col">Satz 3 (Wiederholungen)</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for eintrag in daten %} <!-- im main.py zum rendern definiert -->
                        <tr>
                          <td>{{ eintrag[0] }}</td>
                          <td>{{ eintrag[1] }}</td>
                          <td>{{ eintrag[2] }}</td>
                          <td>{{ eintrag[3] }}</td>
                          <td>{{ eintrag[4] }}</td>
                          <td>{{ eintrag[5] }}</td>
                          <td>{{ eintrag[6] }}</td>
                          <td>{{ eintrag[7] }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
            </div>
    </section>
    <!-- Mit dem include werden hier meine Bootsrap footer Links hinzugefügt -->
{% include "footer.html" %}
  </body>