
<!-- Mit dem include wird hier mein header hinzugefügt -->
{% include "header.html" %}
  <body>

  <!-- Mit dem include wird hier meine Navbar hinzugefügt -->
{% include "navbar.html" %}

   <br /><br />

    <section class="py-5">
            <div class="container text-center">
                <h2 class="mb-4">{{ ueberschrift }}</h2>
                <p class="lead mb-5">{{ einleitung }}</p>

                <table class="table table-hover table-dark">
                      <thead>
                        <tr>
                          <th scope="col">Übung</th>
                          <th scope="col">Gesamtzeit (Minuten)</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for uebung, gesamtzeit in daten.items() %} <!-- im main.py zum rendern definiert -->
                        <tr>
                          <td>{{ uebung }}</td>
                          <td>{{ gesamtzeit }}</td>
                        </tr>
                      {% endfor %}
                </table>


                <table class="table table-hover table-dark">
                  <thead>
                    <tr>
                      <th scope="col">Übung</th>
                      <th scope="col">Gesamtgewicht (kg)</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for uebung, gesamtgewicht in summe_gewichte.items() %} <!-- im main.py zum rendern definiert -->
                    <tr>
                      <td>{{ uebung }}</td>
                      <td>{{ gesamtgewicht }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>
    </section>

  <!-- Mit dem include werden hier meine Bootsrap footer Links hinzugefügt -->
{% include "footer.html" %}
  </body>