
<!-- Mit dem include wird hier mein header hinzugefügt -->
{% include "header.html" %}
  <body>

  <!-- Mit dem include wird hier meine Navbar hinzugefügt -->
{% include "navbar.html" %}

   <br /><br />

    <section class="py-5">
            <div class="container text-center">
                <h2 class="mb-4">{{ ueberschrift }}</h2>
                <p class="lead mb-5">{{ einleitung }}</p>
                    {% for muskelgruppe, zeit in daten.items() %}
                        {{ muskelgruppe }} für {{ zeit }} Minuten<br>
                    {% endfor %}
            </div>
    </section>

  <!-- Mit dem include werden hier meine Bootsrap footer Links hinzugefügt -->
{% include "footer.html" %}
  </body>