<!-- Mit dem include wird hier mein header hinzugefügt -->
{% include "header.html" %}
  <body>

  <!-- Mit dem include wird hier meine Navbar hinzugefügt -->
{% include "navbar.html" %}

   <br /><br />

    <section class="py-5">
        <div class="container text-center">
            <h2 class="mb-4">{{ ueberschrift }}</h2>
            <p class="lead mb-5">{{ einleitung }}</p>
          </div>
        <div class="container text-left">
            <!--  Formular wird bei Submit mit der Methode Post übermittelt, Standart wäre GET
            Durch Submit werden die Daten an die URL Eingabe geschickt
            Name des inputs muss unbedingt mit dem Key nach request.form übereinstimmen -->
            <form method="POST">

              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Übung</label>
                  </div>
                  <select  name="uebung" class="custom-select">
                    <option selected>Welche Übung willst du machen?</option>
                    {% for uebung in uebungen %} <!-- im main.py zum rendern definiert und Liste auch im main.py-->
                        <option>{{ uebung }}</option>
                    {% endfor %}
                  </select>
                </div>

              <div class="form-group">
                <label>Dauer</label>
                <input type="text" name="dauer" class="form-control" placeholder="Wie lange hat es gedauert?">
              </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Muskelgruppe</label>
                  </div>
                  <select  name="muskelgruppe" class="custom-select">
                    <option selected>Wähle die Muskelgruppe, zu welcher die Übung passt</option>
                    {% for muskelgruppe in muskelgruppen %} <!-- im main.py zum rendern definiert und Liste auch im main.py -->
                        <option>{{ muskelgruppe }}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Satz 1</label>
                  </div>
                  <select  name="wiederholung" class="custom-select">
                    <option selected>Wähle die Anzahl Wiederholungen</option>
                    {% for wiederholung in wiederholungen %} <!-- im main.py zum rendern definiert und Liste auch im main.py -->
                        <option>{{ wiederholung }}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Satz 2</label>
                  </div>
                  <select  name="satz2" class="custom-select">
                    <option selected>Wähle die Anzahl Wiederholungen</option>
                    {% for wiederholung in wiederholungen %} <!-- im main.py zum rendern definiert und Liste auch im main.py -->
                        <option>{{ wiederholung }}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Satz 3</label>
                  </div>
                  <select  name="satz3" class="custom-select">
                    <option selected>Wähle die Anzahl Wiederholungen</option>
                    {% for wiederholung in wiederholungen %} <!-- im main.py zum rendern definiert und Liste auch im main.py -->
                        <option>{{ wiederholung }}</option>
                    {% endfor %}
                  </select>
                </div>
                <br>
                <button type="submit" class="btn btn-warning">Workout speichern</button>
            </form>
        </div>
    </section>

  <!-- Mit dem include werden hier meine Bootsrap footer Links hinzugefügt -->
{% include "footer.html" %}
  </body>
