<!-- Mit dem include wird hier mein header hinzugefügt -->
{% include "header.html" %}
  <body>

  <!-- Mit dem include wird hier meine Navbar hinzugefügt -->
{% include "navbar.html" %}

   <br /><br />

    <section class="py-5">
            <div class="container text-center">
                <h2 class="mb-4">{{ ueberschrift }}</h2>
                <p class="lead mb-5">{{ einleitung }}</p>
                <a href="{{ url_for('alle_workouts') }}" class="btn btn-warning" role="button">Alle erfassten Workouts</a>
                <br/><br />

                <table class="table table-hover table-dark">
                      <thead>
                        <tr>
                          <th scope="col">Übung</th>
                          <th scope="col">Dauer</th>
                          <th scope="col">Muskelgruppe</th>
                          <th scope="col">Satz 1 (Wiederholungen)</th>
                          <th scope="col">Satz 2 (Wiederholungen)</th>
                          <th scope="col">Satz 3 (Wiederholungen)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ daten[-1][0] }}</td>
                          <td>{{ daten[-1][1] }}</td>
                          <td>{{ daten[-1][2] }}</td>
                          <td>{{ daten[-1][3] }}</td>
                          <td>{{ daten[-1][4] }}</td>
                          <td>{{ daten[-1][5] }}</td>
                          <td>{{ daten[-1][6] }}</td>

                        </tr>
                      </tbody>
                    </table>
            </div>
    </section>
    <!-- Mit dem include werden hier meine Bootsrap footer Links hinzugefügt -->
{% include "footer.html" %}
  </body>