<!-- Mit dem include wird hier mein header hinzugefügt -->
{% include "header.html" %}
  <body>

  <!-- Mit dem include wird hier meine Navbar hinzugefügt -->
{% include "navbar.html" %}

   <br /><br />

    <section class="py-5">
        <div class="container text-center">
            <h2 class="mb-4">{{ ueberschrift }}</h2>
            <p class="lead mb-5">{{ einleitung }}</p>
          </div>
        <div class="container text-left">
            <!--  Formular wird bei Submit mit der Methode Post übermittelt, Standart wäre GET
            Durch Submit werden die Daten an die URL Eingabe geschickt
            Name des inputs muss unbedingt mit dem Key nach request.form übereinstimmen -->
            <form method="POST">
              <div class="form-group">
                <label>Andere Übung</label>
                <input type="text" name="andere_uebung" class="form-control" placeholder="Welche Übung möchtest du zum Dropdown hinzufügen?">
              </div>
            </form>
        </div>
    </section>

  <!-- Mit dem include werden hier meine Bootsrap footer Links hinzugefügt -->
{% include "footer.html" %}
  </body>
